<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
         <div th:replace="fragments/header :: header"/>
        <h1 th:text="${titulo}"></h1>
        
        <div class="container" th:fragment="CV">

        <a class="btn btn-success btn-xs" th:href="@{/Cv/formcv/ }+ ${candidato.pkCandidato}" >Agregar Curriculum</a>
        
        <table class="table table-striped">
            <thead>
                 <tr>
                    <th>Acciones</th>
                    <th>Nombre del curriculum</th>
                    <th>Fecha de Registro</th>
                    <th>Actualizado</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="cv: ${cv}">
                 <td>
                    <a class="btn btn-primary btn-xs" th:href="@{/Cv/cv/} + ${cv.pkCv}" th:text="'Ver Cv'"></a>
                    <a class="btn btn-primary btn-xs" th:href="@{/Cv/verCv/} + ${cv.pkCv}" th:text="'Actualizar CV'"></a>
                 <!--   <a class="btn btn-primary btn-xs" th:href="@{/Cv/formcv/editar/ }+ ${cv.pkCv}" th:text="'Editar'"></a> -->
                    <a class="btn btn-danger btn-xs" th:href="@{/Cv/eliminar/} + ${cv.pkCv}" th:text="'Eliminar'" onclick="return confirm(' ¿Estás seguro que quieres eliminar?');"></a></td>
                    <td th:text="${cv.nombreCv}"></td>
                    <td th:text="${cv.fechaRegistro}"></td>
                    <td th:text="${cv.fechaActualizado}"></td>
                </tr>
            </tbody>
        </table>
        </div>
         <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
