<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>

        <form th:action="@{/Sector/form}" th:object="${catalogoSectorEmpresa}" method="post">
            <table>
                
                
               
                <tr>
                    <td>Nombre del Sector</td>
                    <td><input type="text" th:field="*{nombreSector}"/></td>
                </tr>

                <tr>
                    
                    <td><input type="submit" value="Crear Sector"/></td>
                </tr>
            </table>
              
               
                
        </form>
    </body>
</html>
