<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
     <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="row"> 
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div class="container">

                <div class="col-lg-10 col-md-10">
        <h1 th:text="${titulo}"></h1>
        
       

        <a th:href="@{/Sector/form}" class="btn btn-success btn-xs">Crear Sector</a>
        
        <table class="table table-striped">
            <thead>
                 <tr>
                    <th>Acciones</th>
                    <th>Nombre Sector</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="sector: ${catalogoSectorEmpresa}">
                     <td><a class="btn btn-primary btn-xs" th:href="@{/Sector/form/} + ${sector.pkSector}" th:text="'Editar'"></a>
                    <a class="btn btn-danger btn-xs" th:href="@{/Sector/eliminar/} + ${sector.pkSector}" th:text="'Eliminar'" onclick="return confirm(' ¿Estás seguro que quieres eliminar?');"></a></td>
                    <td th:text="${sector.nombreSector}"></td>
                </tr>
            </tbody>
        </table>
        </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>