<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="row"> 
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div class="container">

                <div class="col-lg-10 col-md-10">
                    <h1 th:text="${titulo}"></h1>



                    <a th:href="@{/Pais/form}" class="btn btn-success btn-xs">Crear Pais</a>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pais: ${paises}">
                                <td><a class="btn btn-primary btn-xs" th:href="@{/Pais/form/} + ${pais.pkPais}" th:text="'Editar'"></a>
                                    <a class="btn btn-danger btn-xs" th:href="@{/Pais/eliminar/} + ${pais.pkPais}" th:text="'Eliminar'" onclick="return confirm(' ¿Estás seguro que quieres eliminar?');"></a></td>
                                <td th:text="${pais.nombrePais}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>