<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="row"> 
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div class="container">

                <div class="col-lg-10 col-md-10">
                    <h1 th:text="${titulo}" class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

                    <form th:action="@{/experienciaLaboral/formexp}" th:object="${experiencia}" method="post">

                        <input type="hidden" id="pkExperienciaLaboral" name="pkExperienciaLaboral" th:value="${experiencia.pkExperienciaLaboral}" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Empresa</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="text" th:field="*{nombreExpEmpresa}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nombreExpEmpresa')}" th:errors="*{nombreExpEmpresa}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Sector:</label>
                            <div class="col-sm-6">
                                <select id="sector" class="col-sm-6 form-control form-control-sm" name="catalogoSectorEmpresa">

                                    <option th:each="sector : ${sectores}" th:value="${sector.pkSector}" 
                                            th:text="${sector.nombreSector}"  th:selected="${sector == experiencia.catalogoSectorEmpresa}" >
                                    </option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Cargo</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="text" th:field="*{cargo}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Periodo de inicio</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="date" th:field="*{periodoInicio}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('periodoInicio')}" th:errors="*{periodoInicio}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Periodo Fin</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="date" th:field="*{periodoFin}"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('periodoFin')}" th:errors="*{periodoFin}"></small>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1"/>
                                    <label class="custom-control-label" for="customCheck">Actualmente</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Funciones :</label>
                            <div class="col-sm-6">
                                <textarea  class="form-control form-control-sm" type="text" th:field="*{descripcionFunciones}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('descripcionFunciones')}" th:errors="*{descripcionFunciones}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contacto :</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="text" th:field="*{nombreContactoExp}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('nombreContactoExp')}" th:errors="*{nombreContactoExp}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Telefono Contacto :</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="number" th:field="*{telefonoContactoExp}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('telefonoContactoExp')}" th:errors="*{telefonoContactoExp}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Correo Contacto:</label>
                            <div class="col-sm-6">
                                <input class="form-control form-control-sm" type="email" th:field="*{correoContactoExp}" required="required"/> <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('correoContactoExp')}" th:errors="*{correoContactoExp}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>





                    </form>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>