<div class="container" th:fragment="listaEmpresa">

    <div class="container">

        <a th:href="@{/oferta/form/} + ${empresa.pkEmpresa} " class="btn btn-success btn-xs">Nueva Oferta</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Nombre de la Oferta</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="oferta: ${ofertas}">
                    <td><a class="btn btn-primary btn-xs" th:href="@{/oferta/ver/} + ${oferta.pkOferta}"
                            th:text="'Ver Perfil'"></a></td>
                    <td></td>

                    <td th:text="${oferta.catalogoPuesto.nombreCatalogoPuesto}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>