<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">
        


        <button class="navbar-toggler" type="button" data-toggle="collapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"  th:href="@{/}"><img style="max-width: 20%;" th:src="@{/imagenes/logo.png}"/></a></li>
                
            </ul>
            <ul class="nav justify-content-end">
               <li class="nav-item"><a class="nav-link text-warning" th:href="@{/Perfil/form/}">Registro Candidatos</a></li>

                <li class="nav-item"><a class="nav-link text-warning" th:href="@{/Perfil/formE/} ">Registro Empresas</a></li> 
                
            </ul>
        </div>
    </nav>
</body>
</html>
