<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">
     <img th:src="@{../img/logo.png}" alt=""/> 
    
    
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/Perfil/form/} + ${1}">Acceso Candidatos</a></li>
                                
			<li class="nav-item"><a class="nav-link" th:href="@{/Perfil/form/} + ${2}">Acceso Empresas</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>
