<!DOCTYPE html>
<html>
    <head>
    <head>
        <meta charset="ISO-8859-1" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    </head>
</head>
<body>
    <div class="col-lg-2 col-md-2" th:fragment="sidebar" >
         <!-- Links -->
            <ul class="navbar-nav m-4" th:replace="fragments/menu :: menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
            </ul>
    </div>
</body>
</html>
