<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <h1 th:text="${titulo}" class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>


            <form th:action="@{/municipio/formMun}" th:object="${municipio}" method="post">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pais:</label>
                    <div class="col-sm-6">
                        <select id="pais" class="col-sm-6 form-control form-control-sm" name="pais">

                            <option th:each="pais : ${paises}" th:value="${pais.pkPais}" 
                                    th:selected="${pais.pkPais==p}" th:text="${pais.nombrePais}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Departamento:</label>
                    <div class="col-sm-6">
                        <select id="pais" class="col-sm-6 form-control form-control-sm" name="departamento">

                            <option th:each="departamento : ${departamentos}" 
                                    th:selected="${departamento.pkDepartamento==d}"    th:value="${departamento.pkDepartamento}" th:text="${departamento.nombreDepartamento}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" type="text" th:field="*{nombreMunicipio}"/> 
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </div>   
    </body>


</html>

