<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>

        <form th:action="@{/municipio/formMun}" th:object="${municipio}" method="post">
            <table>
                

                <tr>
                   <td>Pais:</td>
                   <td><select id="pais" name="pais">
                        <option th:each="pais : ${paises}" th:value="${pais.pkPais}" th:text="${pais.nombrePais}">
                        </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Departamento:</td>
                   <td><select id="departamento" name="departamento">
                        <option th:each="departamento : ${departamentos}" th:value="${departamento.pkDepartamento}" th:text="${departamento.nombreDepartamento}">
                        </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" th:field="*{nombreMunicipio}"/></td>
                </tr>

                <tr>
                    
                    <td><input type="submit" value="Crear Municipio" /></td>
                </tr>
            </table>
              
               
                
        </form>
    </body>


</html>

