<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <h1 th:text="${titulo}"></h1>
        
        <div class="container">
            <form th:action="@{/Perfil/formE}" th:object="${perfil}" method="post">
            
                
                <div class="form-group row">
				<label class="col-sm-2 col-form-label">Usuario</label>
				<div class="col-sm-6">
					<input class="form-control form-control-sm" type="text" th:field="*{usuario}"/> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('usuario')}" th:errors="*{apellido}"></small>
				</div>
			</div>   
               
                <div class="form-group row">
				<label class="col-sm-2 col-form-label">Contraseña:</label>
				<div class="col-sm-6">
					<input class="form-control form-control-sm" type="password" th:field="*{contrasena}"/> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('contrasena')}" th:errors="*{apellido}"></small>
				</div>
			</div>
                
               
                <div class="form-group row">
				<label class="col-sm-2 col-form-label">Correo Electronico:</label>
				<div class="col-sm-6">
					<input class="form-control form-control-sm" type="text" th:field="*{correoElectronico}"/> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('correoElectronico')}" th:errors="*{apellido}"></small>
				</div>
			</div>
                        
                
                                
                <div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Guardar" class="btn btn-primary" />
                                        
                                      
				</div>
                </div>
                
               
                
        </form>
            
        </div>
    </body>
</html>

