<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <h1 th:text="${titulo}"></h1>
        
        <div class="container">

        <a th:href="@{/form}" class="btn btn-success btn-xs">Crear Pais</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pais: ${paises}">
                    <td th:text="${pais.nombrePais}"></td>
                </tr>
            </tbody>
        </table>
        </div>
         <div th:replace="fragments/footer :: footer"></div>
         
      </body>
</html>
