<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head">
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="row"> 
            <div th:replace="fragments/sidebar :: sidebar"></div>

            <div class="container" >
                <div class="d-flex justify-content-center h-100" >
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <h3 th:text="${session.perfil.usuario}" th:unless="${session == null}"></h3>
                            </div>

                        </div>
                        <div class="card-body">
                            <img  th:src="@{/imagenes/logo.png}" />
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                <h3>Bienvenido a ZATO</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>