<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
         <div th:replace="fragments/header :: header"/>
        <h1 th:text="${titulo}"></h1>
        
        <div class="container" th:fragment="FORMACION">

        <a class="btn btn-success btn-xs" th:href="@{/FormacionAcademica/formfa/}+ ${cv.pkCv}" >Agregar Formacion Academica</a>
        
        <table class="table table-striped display compact">
            <thead>
                 <tr>
                    <th>Acciones</th>
                    <th>Institucion</th>
                    <th>Grado Academico</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalizacion</th>
                    <th>Nombre del Titulo</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="formacion: ${formacion}">
                 <td>
                    <a class="btn btn-primary btn-xs " th:href="@{/FormacionAcademica/editar/} + ${formacion.pkFormacionAcademica}" th:text="'Editar'"></a>
                    <a class="btn btn-danger btn-xs " th:href="@{/FormacionAcademica/eliminar/} + ${formacion.pkFormacionAcademica}" th:text="'Eliminar'" onclick="return confirm(' ¿Estás seguro que quieres eliminar?');"></a></td>
                    <td th:text="${formacion.nombreInstitucion}"></td>
                    <td th:text="${formacion.catalogoGradoAcademico.nombreGradoAcademico}"></td>
                    <td th:text="${formacion.anoInicio}"></td>
                    <td th:text="${formacion.anoFin}"></td>
                    <td th:text="${formacion.nombreTitulo}"></td>
                 </tr>
            </tbody>
        </table>
        </div>
         <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>


