<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="icon" type="image/x-icon"  href = "/templates/img/favicon.ico"/>
    </head>
    <body>
         <div th:replace="fragments/header :: header"/>
        <h1 th:text="${titulo}"></h1>
        
        <div class="container" th:fragment="ESCRITO">

        <a class="btn btn-success btn-xs" th:href="@{/Escrito/formesc/ }+ ${cv.pkCv}" >Agregar Escrito</a>
        
        <table class="table table-striped table-bordered small">
            <thead>
                 <tr>
                    <th>Acciones</th>
                    <th>Tipo de Escrito</th>
                    <th>Nombre del Escrito</th>
                    <th>Nombre del Editor</th>
                    <th>Fecha de Publicacion</th>
                    <th>Lugar de Publicacion</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="escrito: ${escrito}">
                 <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/Escrito/editar/ }+ ${escrito.pkEscrito}" th:text="'Editar'"></a>
                    <a class="btn btn-danger btn-sm" th:href="@{/Escrito/eliminar/} + ${escrito.pkEscrito}" th:text="'Eliminar'" onclick="return confirm(' ¿Estás seguro que quieres eliminar?');"></a></td>
                    <td th:text="${escrito.catalogoEscrito.nombreTipoEscrito}"></td>
                    <td th:text="${escrito.nombreEscrito}"></td>
                    <td th:text="${escrito.nombreEditor}"></td>
                    <td th:text="${escrito.fechaPublicacion}"></td>
                    <td th:text="${escrito.lugarPublicacion}"></td>
                </tr>
            </tbody>
        </table>
        </div>
         <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
