<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th ="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="row"> 
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div class="container">

                <div class="col-lg-10 col-md-10">
                    <h1 th:text="${titulo}"></h1>

                    <div class="container">



                        <table class="table table-striped table-bordered small">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Fecha Modificacion</th>
                                    <th>Tabla</th>
                                    <th>Operacion</th>
                                    <th>Valor Anterio</th>
                                    <th>valor Nuevo</th>
                                    <th>Pk Modificado</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="bitacora: ${bitacoras}">
                                    <td th:text="${bitacora.usuario}"></td>
                                    <td th:text="${bitacora.fechaModificacion}"></td>
                                    <td th:text="${bitacora.tabla}"></td>
                                    <td th:text="${bitacora.operacion}"></td>
                                    <td th:text="${bitacora.valorAnterior}"></td>
                                    <td th:text="${bitacora.valorNuevo}"></td>
                                    <td th:text="${bitacora.pkAlterado}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
